services:
  web:
    container_name: login-web
    restart: unless-stopped
    depends_on:
      - mongo
    image: node:22-alpine
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - $PORT:$PORT
    command: node index.js

  mongo:
    container_name: login-mongo
    restart: unless-stopped
    image: mongo:8.0.4
    volumes:
      - login-data:/data/db

volumes:
  login-data:
    name: login-data

networks:
  default:
    name: coinflipper
    external: true
