version: '3.6'

services:
  web:
    container_name: login-web
    image: node:22-alpine
    volumes:
      - .:/app
      - ../ssl:/ssl
    working_dir: /app
    ports:
      - $PORT:$PORT
    command: node index.js

  mongo:
    container_name: login-mongo
    image: mongo:8.0.4
    volumes:
      - login-data:/data/db

volumes:
  login-data:
    name: login-data

networks:
  default:
    name: coinflipper
    external: true
