extends ../layout.pug

block title
	+title('Link Expired')

block content
	div.welcome-card.card
		div.card-body.text-center
			img.mb-4(src='/images/logo.svg' height='100')
			h2 Link Expired
			p.text-muted.mb-4 Magic links expire after five minutes for security reasons. No worries though — just request a new one!

			a.btn.btn-primary.btn-block(href='/login') Request a New Link
