extends ../layout.pug

block title
	+title('Add User')

block content
	div.page-header
		h1 Add New User

	div.row
		div.col-12.col-md-8.col-lg-6
			if error
				div.alert.alert-danger(role='alert') #{error.message}

			form(action='/admin/users/add' method='POST')
				div.form-group
					label(for='email') Email Address
					input.form-control(type='email' id='email' name='email' required)

				div.form-group
					label(for='username') Username
					input.form-control(type='text' id='username' name='username' required)

				div.form-group
					label(for='firstName') First Name
					input.form-control(type='text' id='firstName' name='firstName' required)

				div.form-group
					label(for='lastName') Last Name
					input.form-control(type='text' id='lastName' name='lastName' required)

				div.form-group
					label(for='nickName') Nickname
					input.form-control(type='text' id='nickName' name='nickName' placeholder='Leave blank to use first name')

				div.form-check.pb-3
					input.form-check-input(type='checkbox' id='admin' name='admin')
					label.form-check-label(for='admin') Administrator

				button.btn.btn-primary(type='submit') Add User
				a.btn.btn-outline-secondary.ml-2(href='/admin/users') Cancel
